body {
  font-family: 'Source Sans Pro', sans-serif;
  background: #F7F7F7;
  color: #262D31;
  font-size: 14px; }

a {
  color: #00BCE5; }

h1 {
  font-size: 32px;
  margin: 0;
  margin-bottom: 10px;
  text-transform: uppercase;
  line-height: 1;
  font-weight: 600;
  letter-spacing: 2.77px; }

h2 {
  font-size: 22px;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 1px; }

h3 {
  font-size: 18px;
  margin: 0;
  font-weight: 600; }

h4 {
  font-size: 16px;
  margin: 0;
  font-weight: 600; }

.btn i ~ span, .btn span ~ i, .btn.flat i ~ span, .btn.flat span ~ i {
  margin-left: 5px;
  margin-right: 5px; }

.btn {
  background-color: #00BCE5;
  color: white;
  box-shadow: 0 1px 4px 0 rgba(55, 131, 212, 0.44);
  border-radius: 15px;
  padding: 8px 20px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center; }
  .btn i {
    font-size: 1.5em; }

.btn.blanco {
  background: #FAFAFB;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
  border-radius: 50px;
  font-weight: 500;
  font-size: 14px;
  text-transform: none;
  z-index: 1;
  color: #262D31;
  padding: 5px 15px;
  transition: .2s all; }
  .btn.blanco i {
    color: #00BCE5; }

.btn:hover {
  background-color: #23cdf3;
  box-shadow: 0 1px 4px 0 rgba(6, 53, 103, 0.6);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3); }

.btn.blanco:hover {
  background-color: white; }
  .btn.blanco:hover i {
    color: #23cdf3; }

.btn.white {
  background-color: white;
  color: #455A64; }

.btn.white:hover {
  color: #00BCE5; }

.btn.flat {
  background-color: transparent;
  color: #455A64;
  border: 2px solid #0085C1;
  border-radius: 13px;
  box-shadow: none;
  padding: 6px 20px; }

.btn.flat:hover {
  background-color: #0085C1;
  color: white; }

.btn-icon {
  color: #00BCE5;
  font-size: 30px;
  line-height: 0; }

.btn-icon:hover {
  color: #23cdf3; }

.btn.light {
  color: #00BCE5;
  display: flex;
  align-items: center;
  text-transform: none;
  background-color: transparent;
  padding: 0;
  box-shadow: none;
  opacity: .8; }

.btn.light:hover {
  opacity: 1; }

.btn.light.eliminar {
  color: #B85562; }

.small {
  font-size: 12px; }

.btn.disabled, .btn:hover.disabled {
  border-color: #ACB6BA;
  background-color: #5B5B5B;
  box-shadow: none;
  cursor: default;
  opacity: .35; }

.btn.flat.disabled {
  background-color: transparent;
  color: #829097; }

.btn.inline {
  display: inline-block; }

.btn.inline > * {
  vertical-align: middle; }

select {
  -webkit-appearance: none;
  border-radius: 0;
  padding: 10px;
  border: 1px solid #CDCDD2;
  font-size: 14px;
  color: #455A64;
  width: 100%;
  min-width: 150px;
  background: url(../img/icon_arrow_down.svg) no-repeat #FDFDFD;
  background-position: calc(100% - 10px) center;
  cursor: pointer; }

input:not([type="checkbox"]):not([type="radio"]) {
  border-radius: 0;
  padding: 10px;
  background: #FDFDFD;
  border: 1px solid #CDCDD2;
  font-size: 14px;
  color: #455A64;
  width: 100%;
  margin: 0; }

label {
  cursor: pointer; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

textarea {
  width: 100%;
  max-width: 100%;
  min-height: 60px;
  background-color: white;
  border-color: #CDCDD2;
  padding: 10px;
  font-size: 14px;
  color: #262D31;
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0; }

.breadcrumbs {
  font-size: 14px;
  color: #829097;
  font-weight: 600;
  vertical-align: middle; }
  .breadcrumbs span:after, .breadcrumbs a:after {
    content: 'play_arrow';
    display: inline-block;
    margin: 0 5px;
    font-family: 'Material icons';
    vertical-align: middle;
    margin-bottom: 3px;
    font-size: 12px; }
  .breadcrumbs .current {
    color: #0085C1; }

.breadcrumbs span:last-child:after {
  display: none; }

.main-sidebar {
  background-image: linear-gradient(48deg, #38565F 0%, #2A383E 100%);
  color: white;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.41); }

.separador {
  position: relative;
  padding: 20px; }

.separador:after {
  content: '';
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  background: #273740;
  box-shadow: 0 1px 0 0 #344649, inset 0 1px 0 0 rgba(0, 0, 0, 0.2); }

.heading {
  height: 230px; }
  .heading img {
    display: block;
    margin-bottom: 15px;
    border-radius: 50%;
    width: 90px;
    height: 90px;
    overflow: hidden; }
  .heading a {
    display: block;
    text-align: center;
    font-size: 14px; }

.main-sidebar h4 {
  font-size: 14px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  padding-right: 8px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 20px; }
  .main-sidebar h4 i {
    font-size: 1.5em;
    margin-right: 8px; }

.main-sidebar h4.active:after {
  content: 'keyboard_arrow_right';
  color: #00BCE5;
  font-family: 'Material Icons';
  font-weight: normal;
  font-size: 24px;
  line-height: 1;
  text-transform: none;
  display: block;
  position: absolute;
  right: 4px; }

.main-sidebar ul {
  padding: 0;
  margin: 0; }
  .main-sidebar ul a {
    display: flex;
    align-items: center;
    height: 46px;
    color: white;
    font-size: 14px; }
  .main-sidebar ul a.active {
    color: #00BCE5; }
  .main-sidebar ul a:hover {
    color: #23cdf3; }

.diagrama {
  padding: 0 10px; }
  .diagrama .grafico {
    padding: 0 20px;
    margin-bottom: 20px; }
  .diagrama .leyenda {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    font-size: 14px;
    color: #262D31; }
    .diagrama .leyenda .tag {
      text-align: left;
      display: flex;
      align-items: center; }
    .diagrama .leyenda .tag:before {
      display: block;
      content: '';
      width: 15px;
      height: 15px;
      margin-right: 10px;
      background-color: #829097;
      border-radius: 50%; }
    .diagrama .leyenda .tag.ama:before {
      background-color: #F4BD3D; }
    .diagrama .leyenda .tag.roj:before {
      background-color: #ED5730; }
    .diagrama .leyenda .tag.pur:before {
      background-color: #C275FF; }
    .diagrama .leyenda .tag.azu:before {
      background-color: #4F5AAC; }
    .diagrama .leyenda .tag.cel:before {
      background-color: #00BCE5; }
    .diagrama .leyenda .tag.ver:before {
      background-color: #B2D162; }

/* ============= HEADER ============= */
.top-header {
  background: #FDFDFD;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3), 0 0 4px 0 rgba(0, 0, 0, 0.1);
  padding: 15px;
  padding-top: 30px; }
  .top-header h1 {
    padding-left: 20px;
    position: relative; }
  .top-header h1:before {
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    left: 0;
    width: 8px;
    background-color: #00BCE5; }
  .top-header .breadcrumbs {
    padding-left: 20px;
    color: #829097; }

.logo {
  width: 74px; }

/* ============= HOME ============= */
.card {
  background: #FDFDFD;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3), 0 0 4px 0 rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  padding: 25px 20px;
  margin-bottom: 25px; }
  .card .title {
    margin-bottom: 20px; }

.card:last-child {
  margin-bottom: 0px; }

.select-box {
  grid-column: 1/4; }

.select-box h3 {
  margin-bottom: 10px; }

table:not(.unstyled) {
  width: 100%;
  margin-bottom: 20px;
  border-collapse: collapse;
  font-size: 14px; }
  table:not(.unstyled) thead {
    color: white;
    text-transform: uppercase; }
    table:not(.unstyled) thead th {
      padding: 15px 10px;
      border-radius: 2px;
      font-weight: 600;
      font-size: 12px;
      position: relative;
      border: 4px solid transparent;
      z-index: 1; }
    table:not(.unstyled) thead th:before {
      content: '';
      display: block;
      top: 0;
      left: 0;
      position: absolute;
      background-color: #455A64;
      width: 100%;
      height: 100%;
      z-index: -1;
      border-radius: 5px; }
  table:not(.unstyled) tbody {
    border-collapse: collapse; }
  table:not(.unstyled) td {
    padding: 15px 10px;
    text-align: center;
    position: relative;
    z-index: 1; }
  table:not(.unstyled) td:first-of-type {
    text-align: left; }
  table:not(.unstyled) a {
    font-weight: 600;
    color: #0085C1; }
  table:not(.unstyled) a:hover {
    color: #00BCE5; }
  table:not(.unstyled) tr {
    border-bottom: 1px solid #CDCDD2; }

.tooltipped {
  position: relative; }

.tooltipped:before {
  opacity: 0;
  visibility: hidden;
  opacity: 0;
  top: -5px;
  left: 50%;
  background-color: black;
  color: white;
  font-size: 12px;
  padding: 8px 10px;
  position: absolute;
  line-height: 1;
  content: attr(data-tooltip);
  border-radius: 4px;
  box-shadow: 0 4px 10px 1px rgba(0, 0, 0, 0.35);
  transform: translate(-50%, -50%);
  transition: all .3s;
  transition-delay: .1s;
  white-space: nowrap; }

.tooltipped:hover:before {
  transform: translate(-50%, -100%);
  visibility: visible;
  opacity: 1;
  transition-delay: .6s; }

/* ============= CREAR PRUEBA ============= */
.page-sidenav {
  text-align: center;
  font-size: 12px;
  color: #455A64; }
  .page-sidenav .btn {
    display: inline-block;
    min-width: 180px;
    margin-bottom: 10px; }
  .page-sidenav .btn:last-child {
    margin-bottom: 0; }
  .page-sidenav .guardar-prueba p {
    margin: 0; }
  .page-sidenav > div {
    margin-bottom: 20px; }

.box-select {
  grid-column: 1/5; }

.box-info {
  grid-column: 5/end; }

.unidades-evaluacion {
  grid-row: 2/span 4; }

.page-content h3 {
  margin-bottom: 10px; }

.page-content .title {
  margin-bottom: 10px; }
  .page-content .title i {
    font-size: 1.2em;
    vertical-align: middle;
    margin-right: 8px;
    transform: translateY(-3px); }
  .page-content .title h3 {
    display: inline-block;
    margin-bottom: 0; }
  .page-content .title span {
    font-size: 12px; }

.accordion {
  width: 100%;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.12), 0 2px 2px 0 rgba(0, 0, 0, 0.24);
  margin: 0;
  color: #455A64; }
  .accordion dd {
    margin: 0;
    padding: 10px; }
    .accordion dd label {
      padding: 10px 10px;
      font-size: 14px;
      cursor: pointer; }

.panel-head {
  padding: 10px 20px;
  height: 60px;
  background-color: #F4F7F7;
  border-bottom: 1px solid #CDCDD2; }
  .panel-head a .arrow-collapse {
    display: block;
    color: white;
    font-size: 24px;
    background-color: #829097;
    border-radius: 50%;
    margin-left: 8px;
    transition: .2s all; }
  .panel-head a .arrow-collapse:after {
    content: 'keyboard_arrow_down';
    font-family: 'Material icons';
    display: block; }
  .panel-head a.active .arrow-collapse {
    background-color: #ACB6BA; }
  .panel-head a.active .arrow-collapse:after {
    content: 'keyboard_arrow_up'; }

.checkbox, .radio {
  display: flex;
  align-items: center; }
  .checkbox input[type="checkbox"], .checkbox input[type="radio"], .radio input[type="checkbox"], .radio input[type="radio"] {
    display: none; }
  .checkbox .selector, .radio .selector {
    width: 18px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    margin-right: 10px;
    background-color: #CDCDD2;
    border-radius: 50%;
    transition: all .3s; }
  .checkbox .selector:after, .radio .selector:after {
    font-family: 'Material icons';
    display: inline;
    font-size: 16px;
    color: white; }
  .checkbox input:checked + .selector:after, .radio input:checked + .selector:after {
    content: 'check'; }
  .checkbox input:checked + .selector, .radio input:checked + .selector {
    background-color: #A8C952;
    animation: check .2s ease; }

.checkbox:hover .selector, .radio:hover .selector {
  background-color: #ACB6BA; }

.check-status input[type="checkbox"] {
  display: none; }

.check-status .selector {
  width: 18px;
  height: 18px;
  line-height: 18px;
  text-align: center;
  margin-right: 10px;
  background-color: #CDCDD2;
  border-radius: 50%;
  transition: all .3s; }

.check-status .selector:after {
  font-family: 'Material icons';
  display: inline;
  font-size: 16px;
  color: white; }

.check-status input[type="checkbox"]:checked + .selector:after {
  content: 'check'; }

.check-status input[type="checkbox"]:checked + .selector {
  background-color: #A8C952;
  animation: check .2s ease; }

.check-status.all .selector {
  background-color: #A8C952; }

.check-status.all .selector:after {
  content: 'check'; }

.check-status.some .selector {
  background-color: #A8C952; }

.check-status.some .selector:after {
  content: 'remove'; }

/* ============= NUEVA PRUEBA VACIA  ============= */
.page-info {
  height: 100%;
  padding-top: 20px;
  text-align: center;
  font-size: 14px; }
  .page-info .separator {
    width: 1px;
    height: 100%;
    background-color: #CDCDD2;
    margin: 0 5px;
    flex-shrink: 0; }
  .page-info > div {
    width: 50%; }
  .page-info .none {
    color: #0085C1; }
  .page-info .page-info-text {
    font-size: 26px;
    color: #0085C1;
    font-weight: 600; }

.page-title {
  padding-left: 20px;
  font-size: 16px; }
  .page-title h2, .page-title > div {
    margin-bottom: 5px; }
  .page-title a {
    font-weight: 600;
    color: #0085C1; }
  .page-title span {
    color: #455A64; }

.card.tabbed {
  padding: 0; }

.tabbed-content {
  padding: 25px 20px; }

.tab-container {
  padding: 10px;
  background-color: #fafafa; }

.tabbed .top-tabs .btn {
  border-radius: 0;
  box-shadow: none;
  position: relative;
  width: 60px;
  min-height: 60px;
  height: 100%; }
  .tabbed .top-tabs .btn i {
    font-size: 24px; }

.tabbed .top-tabs .tabs {
  max-width: calc(100% - 60px);
  overflow: auto; }

.tabbed .tabs {
  background-color: #EBEBEB;
  flex-grow: 1; }

.tabbed .tab-content > header {
  padding: 15px 0 5px;
  border-bottom: 1px solid #CDCDD2;
  margin-bottom: 20px; }
  .tabbed .tab-content > header .btn {
    margin-right: 10px; }
  .tabbed .tab-content > header span {
    font-size: 12px; }
  .tabbed .tab-content > header .botonera, .tabbed .tab-content > header .opciones {
    margin-bottom: 15px; }
  .tabbed .tab-content > header .opciones > div {
    border-right: 1px solid #CDCDD2;
    margin-right: 15px; }
  .tabbed .tab-content > header .opciones > div:last-child {
    margin-right: 0;
    border: 0; }
  .tabbed .tab-content > header .opciones .disable {
    color: #ACB6BA; }
    .tabbed .tab-content > header .opciones .disable .btn-number {
      background-color: #ACB6BA; }

.tour-container {
  position: relative; }

.tour {
  position: absolute;
  background-color: #455A64;
  right: calc(100% + 10px);
  top: 50%;
  transform: translateY(-50%);
  text-transform: none;
  padding: 10px;
  font-size: 12px;
  font-weight: 600;
  width: 200px;
  border-radius: 4px;
  color: white;
  font-size: 14px; }

.tour.left {
  text-align: left; }

.tour:after {
  display: block;
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-left: 20px solid #455A64;
  border-bottom: 10px solid transparent;
  top: 50%;
  right: -20px;
  transform: translateY(-50%); }

.type-menu {
  background-color: white;
  width: 200px;
  position: absolute;
  padding: 10px;
  top: 100%;
  right: -20px;
  z-index: 1;
  border-top: 4px solid #00BCE5;
  color: #455A64;
  font-size: 16px;
  font-weight: 500;
  text-transform: none;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.35);
  display: none;
  transition: transform .2s ease-out; }
  .type-menu label {
    padding: 10px; }
  .type-menu label:hover {
    color: #0085C1; }
  .type-menu .checkbox .selector {
    background-color: transparent;
    font-size: 18px; }
  .type-menu .checkbox .selector:after {
    content: 'add';
    color: #455A64; }
  .type-menu .checkbox input[type="checkbox"]:checked + .selector {
    background-color: transparent; }
  .type-menu .checkbox input[type="checkbox"]:checked + .selector:after {
    content: 'check';
    color: #00BCE5;
    background-color: transparent; }

.type-menu.active {
  transform: translateY(25px); }

.type-menu:after {
  display: block;
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-bottom: 20px solid #00BCE5;
  border-right: 10px solid transparent;
  top: -20px;
  right: 38px; }

.tabs {
  padding: 0; }
  .tabs .tab {
    border-top: 4px solid transparent;
    min-height: 60px;
    min-width: 140px; }
    .tabs .tab .place {
      width: 28px;
      height: 28px;
      border: 1px solid #CDCDD2;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      margin-right: 10px;
      color: #455A64;
      flex-shrink: 0; }
    .tabs .tab span {
      color: #0085C1;
      letter-spacing: 0.46px;
      text-align: left;
      font-weight: 600; }
    .tabs .tab a {
      padding: 10px 20px; }
  .tabs .tab:hover {
    background-color: #f3f3f3; }
  .tabs .tab.active {
    background-color: #fafafa;
    border-top: 4px solid #00BCE5; }
  .tabs .tab-info {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }

.num {
  width: 48px;
  height: 48px;
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  border-radius: 50%;
  margin-right: 15px;
  font-weight: 600;
  flex-shrink: 0;
  cursor: -webkit-grab;
  cursor: grab; }

.col-indicator {
  display: flex;
  align-items: center;
  padding: 0 10px;
  flex-shrink: 0;
  color: #455A64;
  margin-left: 20px; }

.col-indicator:after {
  content: 'keyboard_arrow_down';
  display: block;
  font-family: 'Material icons';
  font-size: 24px;
  margin-left: 4px; }

.active .col-indicator:after {
  content: 'keyboard_arrow_up'; }

.pregunta-grupo {
  background: white;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.12), 0 2px 2px 0 rgba(0, 0, 0, 0.24);
  border-radius: 2px;
  margin-bottom: 20px; }
  .pregunta-grupo header {
    background: #829097;
    color: white;
    padding: 20px 10px;
    border-bottom: 1px solid #6f7c82; }
    .pregunta-grupo header h3 {
      font-weight: 600;
      margin: 0; }
    .pregunta-grupo header .col-indicator {
      color: white; }
  .pregunta-grupo .grupo-body {
    padding: 20px; }
    .pregunta-grupo .grupo-body .enunciado {
      margin-bottom: 20px; }

.img-container {
  text-align: center; }

.grupo-footer {
  display: flex;
  padding: 10px;
  background-color: #829097;
  color: white; }
  .grupo-footer .btn {
    color: white; }

.botonera {
  display: flex; }
  .botonera .btn {
    margin: 0 5px; }

.pregunta {
  background: white;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.12), 0 2px 2px 0 rgba(0, 0, 0, 0.24);
  margin-bottom: 15px; }

.preguntas.vacio {
  text-align: center;
  min-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: #ACB6BA;
  background-color: #EBEBEB;
  font-weight: 600;
  border-radius: 10px; }

.tooltiped {
  transition: all .2s;
  position: relative; }

.tooltiped:after {
  content: attr(data-tooltip);
  min-width: 130px;
  height: auto;
  text-align: center;
  background-color: black;
  color: white;
  position: absolute;
  left: 50%;
  bottom: calc(50% + 5px);
  transform: translateX(-50%);
  padding: 8px;
  border-radius: 5px;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.35);
  display: block;
  visibility: hidden;
  opacity: 0;
  transition: all .2s;
  transition-delay: 0s; }

.tooltiped:hover:after {
  visibility: visible;
  opacity: 1;
  bottom: calc(100% + 5px);
  transition-delay: .3s; }

.pregunta-footer {
  display: flex;
  align-items: center; }
  .pregunta-footer .tooltiped {
    color: #0085C1; }
  .pregunta-footer .tooltiped:hover {
    color: #00BCE5; }
  .pregunta-footer .footer-left .material-icons {
    font-size: 24px; }
  .pregunta-footer .footer-left > div {
    margin-right: 10px; }

.pregunta header {
  padding: 10px;
  background: #F4F7F7;
  border-bottom: 1px solid #e1eaea;
  color: #262D31; }
  .pregunta header .num {
    background: transparent;
    border: 1px solid #829097;
    color: #829097;
    width: 40px;
    height: 40px;
    font-size: 16px; }
  .pregunta header .col-indicator {
    color: #262D31; }

.pregunta .pregunta-body {
  grid-gap: 30px;
  padding: 20px; }
  .pregunta .pregunta-body aside {
    grid-column: 1/4; }
  .pregunta .pregunta-body section {
    grid-column: 4/end; }

.pregunta .pregunta-footer {
  background-color: #F4F7F7;
  padding: 10px 20px;
  border-top: 1px solid #e1eaea;
  color: #455A64; }

.pregunta .rubrica table {
  font-weight: 600;
  color: #455A64; }
  .pregunta .rubrica table .material-icons {
    font-size: 24px;
    margin-right: 4px; }
  .pregunta .rubrica table td:first-of-type {
    text-align: center; }
  .pregunta .rubrica table thead th {
    color: #455A64; }
  .pregunta .rubrica table thead th:before {
    background-color: #F4F7F7; }

.tema {
  margin-bottom: 10px;
  font-weight: 600; }
  .tema i {
    font-size: 1.5em;
    margin-right: 6px;
    color: #455A64; }

.imagen-pregunta {
  font-size: 12px;
  margin-bottom: 10px; }
  .imagen-pregunta img {
    border: 4px solid #CDCDD2; }

.size {
  display: flex; }
  .size .tag {
    font-size: 14px;
    background-color: #EBEBEB;
    color: #455A64;
    border-radius: 14px;
    padding: 5px 10px;
    font-weight: 600; }

/* ============= ALTERNATIVAS  ============= */
/* Number */
.number {
  display: flex;
  margin: 0 15px; }
  .number .btn-number {
    background: #00BCE5;
    color: white;
    font-size: 24px;
    line-height: 0;
    border: 0;
    margin: 0;
    padding: 3px; }
  .number .btn-number:hover {
    background-color: #23cdf3; }
  .number .btn-number:disabled, .number .btn-number:hover:disabled {
    cursor: default; }
  .number input:not([type="checkbox"]):not([type="radio"]) {
    width: 42px;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    padding: 0; }

/* Switch */
.switch, .switch * {
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.switch label {
  cursor: pointer; }
  .switch label input[type=checkbox] {
    opacity: 0;
    width: 0;
    height: 0;
    position: absolute; }
  .switch label .lever {
    position: relative;
    width: 64px;
    height: 30px;
    background-color: #ACB6BA;
    border-radius: 4px;
    -webkit-transition: background 0.3s ease;
    transition: background 0.3s ease;
    vertical-align: middle;
    margin: 0 15px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: rgba(0, 0, 0, 0.3);
    font-size: 1.2em;
    transition: all .2s; }
  .switch label .lever:before {
    background-color: rgba(38, 166, 154, 0.15); }
  .switch label .lever:after {
    background-color: #F1F1F1;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12); }
  .switch label .lever:before, .switch label .lever:after {
    content: "";
    position: absolute;
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 2px;
    left: 3px;
    top: 3px;
    transition: all .2s; }
  .switch label input[type=checkbox]:checked + .lever {
    background-color: #A8C952;
    color: white; }
  .switch label input[type=checkbox]:checked + .lever:before, .switch label input[type=checkbox]:checked + .lever:after {
    left: 37px; }

.tabbed .tab-content > header .lever {
  font-size: 1.2em; }

.linea {
  width: 1px;
  background-color: #CDCDD2;
  margin: 0 20px; }

.alternativas ol li {
  padding: 8px;
  font-size: 16px;
  margin-bottom: 4px; }

.alternativas .correcta {
  background: #F3F7EC; }

.alternativas .correcta:after {
  content: 'alternativa correcta';
  display: inline;
  float: right;
  color: #95B855;
  font-weight: 600; }

/* ============= VERDADERO FALSO  ============= */
.tag-vf:after {
  display: block;
  background-color: #ACB6BA;
  border-radius: 50px;
  padding: 4px 12px;
  color: white;
  font-weight: 600;
  min-width: 90px;
  text-align: center;
  box-sizing: border-box; }

.verdadero .tag-vf:after {
  content: 'Verdadero';
  background-color: #A8C952; }

.falso .tag-vf:after {
  content: 'Falso';
  background-color: #B85562; }

/* ============= RESPUESTA CORTA  ============= */
.trc, table.trc {
  table-layout: fixed;
  margin: 0;
  width: 100%;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 20px; }
  .trc .alumno, table.trc .alumno {
    color: #0085C1; }
  .trc .alumno:after, table.trc .alumno:after {
    content: '';
    width: 90%;
    height: 2px;
    background-color: #00BCE5;
    position: absolute;
    bottom: 8px;
    left: 5%; }
  .trc td:first-of-type, .trc td, table.trc td:first-of-type, table.trc td {
    text-align: center;
    padding: 3%;
    min-height: 20px;
    tab-size: 40px;
    border: 1px solid #CDCDD2; }

.pregunta .info {
  color: #829097;
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: 600; }
  .pregunta .info i {
    margin-right: 5px;
    color: #00BCE5; }

/* ============= MODALES ============= */
.modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9;
  background-color: rgba(69, 90, 100, 0.7); }

.modal > div {
  width: 100%;
  height: 100%; }

.modal-container {
  width: 80%;
  min-width: 1000px;
  max-width: 1300px;
  background-color: whitesmoke;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3), 0 0 4px 0 rgba(0, 0, 0, 0.1); }

.modal.preview .modal-preview {
  display: block; }

.modal-header {
  background-image: linear-gradient(50deg, #38565F 0%, #38555E 36%, #2A383E 100%);
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.41);
  padding: 20px; }
  .modal-header h2 {
    color: white; }
  .modal-header .icon {
    font-size: 24px;
    color: white; }
  .modal-header .icon:hover {
    color: #00BCE5; }

.modal-footer {
  background-image: linear-gradient(10deg, #38565F 0%, #38555E 36%, #2A383E 100%);
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.41);
  padding: 20px; }
  .modal-footer .btn {
    margin-right: 20px;
    min-width: 150px; }
  .modal-footer .btn:last-child {
    margin: 0; }

.modal-body {
  position: relative;
  overflow: hidden;
  height: calc(70vh - 144px);
  min-height: 300px; }

.modal-options {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(12, 1fr);
  background-color: white;
  height: 100%;
  overflow: scroll; }
  .modal-options .modal-sidebar {
    grid-column: 1/4;
    padding: 20px;
    padding-top: 40px;
    background-color: #FAFAFB; }
    .modal-options .modal-sidebar .option {
      margin-bottom: 20px; }
      .modal-options .modal-sidebar .option .title {
        margin-bottom: 10px; }
        .modal-options .modal-sidebar .option .title i {
          margin-right: 4px;
          font-size: 1.3em; }
      .modal-options .modal-sidebar .option h5 {
        font-weight: 500;
        font-size: 16px;
        margin: 10px 0; }
    .modal-options .modal-sidebar .oa-detalle {
      display: none;
      border-left: 8px solid #EBEBEB;
      margin-top: 10px;
      padding: 10px;
      padding-right: 0; }
      .modal-options .modal-sidebar .oa-detalle h5 {
        margin-top: 0; }
      .modal-options .modal-sidebar .oa-detalle select {
        margin-bottom: 15px; }
      .modal-options .modal-sidebar .oa-detalle select:last-child {
        margin-bottom: 0; }
  .modal-options .modal-content {
    padding: 20px;
    padding-top: 40px;
    grid-column: 4/end; }
    .modal-options .modal-content .title {
      margin-bottom: 10px; }

.modal-preview {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  z-index: 1;
  background: #829097; }

.btn-close-preview {
  background-color: #00BCE5;
  color: white;
  border-radius: 2px;
  position: absolute;
  z-index: 1;
  top: 10px;
  right: 10px; }

.preview-test {
  background: #FFFFFF;
  border: 0 solid rgba(172, 182, 186, 0.31);
  height: 600px;
  max-width: 70%;
  margin: 0 auto; }

.enunciado {
  min-height: 150px;
  margin-bottom: 20px; }

.lista-alternativas {
  padding-right: 40%; }

.alt-row {
  margin-bottom: 8px; }
  .alt-row div:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
    background-color: #657177;
    color: white;
    font-weight: 600;
    width: 40px;
    font-size: 16px;
    flex-shrink: 0; }
  .alt-row input[type="radio"] {
    display: none; }
  .alt-row label {
    margin: 0;
    width: 40px;
    font-size: 24px;
    background-color: #EBEBEB;
    width: 40px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #829097;
    transition: .2s all;
    position: relative; }
  .alt-row label:after {
    position: absolute;
    background-color: #455A64;
    color: white;
    padding: 8px;
    content: 'Marcar como respuesta correcta';
    display: block;
    left: calc(100% + 4px);
    top: calc(50% - 24px);
    font-size: 12px;
    border-radius: 4px;
    width: 120px;
    opacity: 0;
    transition: .3s opacity;
    pointer-events: none; }
  .alt-row label:hover:after {
    opacity: 1;
    transition-delay: .2s; }
  .alt-row label:hover {
    background-color: #CDCDD2; }
  .alt-row input[type="radio"]:checked + label {
    background-color: #A8C952;
    color: white; }
  .alt-row input[type="radio"]:checked + label:hover:after {
    opacity: 0;
    transition-delay: 0; }
  .alt-row textarea {
    margin: 0 4px;
    min-width: 100%; }

.img-enunciado > div {
  position: relative;
  margin-bottom: 4px; }

.img-enunciado .btn-borrar {
  display: none;
  background: #B85562;
  opacity: 0;
  color: white;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
  border-radius: 50px;
  font-size: 14px;
  position: absolute;
  left: 50%;
  bottom: 0px;
  z-index: 1;
  transform: translate(-50%, -50%);
  padding: 5px 15px;
  transition: .2s all; }

.img-enunciado .txtimg-enunciado {
  font-size: 12px;
  color: #829097;
  text-overflow: ellipsis;
  overflow: hidden; }

.img-enunciado:hover .btn-borrar {
  opacity: 1; }

.submit-file input[type="file"] {
  display: none; }

.submit-file label, .submit-file .btn-borrar {
  background: #FAFAFB;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
  border-radius: 50px;
  font-size: 14px;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
  padding: 5px 15px;
  transition: .2s all; }
  .submit-file label i, .submit-file .btn-borrar i {
    color: #00BCE5; }

.submit-file label:hover {
  background-color: white;
  color: #00BCE5; }

.img-tam .tam {
  text-align: center; }
  .img-tam .tam input[type="radio"] {
    display: none; }
  .img-tam .tam label {
    width: 36px;
    height: 36px;
    border: 1px solid #CDCDD2;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px; }
    .img-tam .tam label i {
      margin: 0;
      font-size: 16px;
      color: #829097; }
  .img-tam .tam input[type="radio"]:checked + label {
    border-color: #0085C1;
    border-width: 2px; }
    .img-tam .tam input[type="radio"]:checked + label i {
      color: #0085C1; }
  .img-tam .tam p {
    margin: 6px 0;
    font-size: 12px; }
  .img-tam .tam .med label i {
    font-size: 22px; }
  .img-tam .tam .grande label i {
    font-size: 30px; }

.img-tam .tams-default {
  margin-bottom: 15px; }

.img-tam .otro {
  margin-right: 10px; }

.img-tam .otro-tam label {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 4px;
  justify-items: end;
  align-items: center;
  margin-bottom: 8px; }
  .img-tam .otro-tam label span:first-child {
    grid-column: 1/4; }
  .img-tam .otro-tam label input {
    padding: 4px;
    height: auto;
    grid-column: 4/8; }

.img-tam .otro-tam.disable {
  opacity: .3; }

/* Modal desarrollo */
.detalle {
  margin-bottom: 20px; }

.lista-items-desarrollo {
  margin-bottom: 10px;
  display: grid;
  grid-gap: 10px; }
  .lista-items-desarrollo .item {
    display: flex;
    background-color: #FAFAFB;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.19), 0 0 4px 0 rgba(0, 0, 0, 0.07); }
    .lista-items-desarrollo .item .num {
      width: 28px;
      height: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0;
      border-radius: 0;
      color: white;
      background-color: #829097;
      font-size: 14px; }
    .lista-items-desarrollo .item .grid {
      grid-template-columns: 1fr 1fr auto;
      width: auto;
      grid-template-rows: 40px;
      padding: 8px;
      flex-grow: 1;
      grid-gap: 8px; }
    .lista-items-desarrollo .item input {
      grid-column: 1/2;
      grid-row: 1/2; }
    .lista-items-desarrollo .item select {
      grid-column: 1/2;
      grid-row: 2/end; }
    .lista-items-desarrollo .item textarea {
      grid-column: 2/3;
      grid-row: 1/end; }
    .lista-items-desarrollo .item .ptje {
      text-align: center;
      grid-column: 3/4;
      grid-row: 1/end; }
      .lista-items-desarrollo .item .ptje .number {
        margin: 0;
        margin-bottom: 5px; }
      .lista-items-desarrollo .item .ptje .number.big {
        display: grid;
        grid-template-columns: 44px;
        grid-template-rows: 24px;
        grid-gap: 2px; }
        .lista-items-desarrollo .item .ptje .number.big input[type="number"] {
          grid-column: 1/1;
          grid-row: 1/end;
          width: auto; }
        .lista-items-desarrollo .item .ptje .number.big .btn-number {
          width: auto;
          height: auto;
          padding: 0;
          border-radius: 2px; }
        .lista-items-desarrollo .item .ptje .number.big .res {
          grid-column: 2/end;
          grid-row: 2/end; }
        .lista-items-desarrollo .item .ptje .number.big .sum {
          grid-column: 2/end;
          grid-row: 1/2; }
    .lista-items-desarrollo .item .remove {
      grid-column: 4/end;
      grid-row: 1/end;
      display: flex;
      justify-content: center;
      align-items: center; }
      .lista-items-desarrollo .item .remove button {
        background-color: transparent;
        color: #ACB6BA;
        font-size: 36px;
        line-height: 0;
        opacity: .5; }
      .lista-items-desarrollo .item .remove button:hover {
        color: #B85562;
        opacity: 1; }

.no-item {
  width: 100%;
  background-color: #EBEBEB;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  padding: 15px; }

/* Modal Verdadero falso */
.detalle-vf {
  width: 100%;
  border: 1px solid #EBEBEB;
  padding: 15px;
  padding-top: 30px; }
  .detalle-vf .switch {
    text-align: center; }
    .detalle-vf .switch i {
      font-style: normal;
      font-weight: 600; }
    .detalle-vf .switch .txt {
      display: block;
      margin-top: 8px;
      font-weight: 600;
      color: #829097;
      font-size: 16px; }
    .detalle-vf .switch label .lever {
      background-color: #B85562;
      color: white; }

/* Modal Respuesta corta */
.tabla-rc .header {
  border-bottom: 1px solid #CDCDD2;
  padding-bottom: 15px;
  margin-bottom: 20px; }
  .tabla-rc .header span {
    font-size: 12px;
    color: #5B5B5B; }

.tabla-rc .info {
  font-size: 14px;
  color: #455A64;
  margin-bottom: 15px; }
  .tabla-rc .info i {
    color: #00BCE5;
    margin-right: 4px;
    font-size: 1.5em; }
  .tabla-rc .info img {
    margin-right: 8px;
    width: 24px; }

.tabla-rc table {
  border: 0;
  border-collapse: separate;
  margin: 0; }
  .tabla-rc table td {
    padding: 2px; }

.tabla-rc .rc-box {
  background: rgba(212, 212, 217, 0.31);
  position: relative;
  border: 1px solid #D4D4D9; }
  .tabla-rc .rc-box .switch {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2; }
    .tabla-rc .rc-box .switch .lever {
      margin: 0; }
  .tabla-rc .rc-box .title {
    padding-right: 44px;
    padding-left: 6px;
    height: 20px;
    margin: 0;
    color: #5B5B5B;
    opacity: .75; }
    .tabla-rc .rc-box .title span {
      display: block;
      font-size: 12px;
      line-height: 20px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      text-align: right; }
  .tabla-rc .rc-box .textarea {
    padding: 8px; }
    .tabla-rc .rc-box .textarea textarea {
      padding: 4px;
      height: 20px;
      max-height: 20px;
      border: 0;
      resize: none;
      outline: 1px solid rgba(0, 0, 0, 0.05); }
    .tabla-rc .rc-box .textarea textarea:focus {
      outline-color: rgba(0, 133, 193, 0.5);
      outline-offset: 0; }

.tabla-rc .rc-box.active {
  background-color: rgba(0, 188, 229, 0.1); }
  .tabla-rc .rc-box.active .title {
    color: #00BCE5; }
  .tabla-rc .rc-box.active .textarea textarea {
    color: #0085C1; }

.table-content {
  overflow-x: scroll;
  background-color: #FAFAFB;
  border: 1px solid #EBEBEB; }

.switch.min label .lever {
  width: 38px;
  height: 20px;
  border-radius: 0; }

.switch.min label input[type=checkbox]:checked + .lever {
  background-color: #00BCE5; }

.switch.min label .lever:before, .switch.min label .lever:after {
  width: 16px;
  height: 16px;
  left: 10px;
  top: 2px;
  transform: translateX(-50%); }

.switch.min label input[type=checkbox]:checked + .lever:after, .switch.min label input[type=checkbox]:checked + .lever:before {
  left: calc(100% - 10px); }

input:not([type="checkbox"]):not([type="radio"]).nombre-grupo {
  width: 50%;
  min-width: 300px;
  margin-bottom: 20px; }

/* Modal */
.modal-base .modal-container, .modal-advertencia .modal-container {
  width: auto;
  min-width: 600px; }

.modal-base .modal-body, .modal-advertencia .modal-body {
  height: auto;
  min-height: 350px;
  padding: 30px;
  position: relative; }

.modal-base .close-modal, .modal-advertencia .close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px; }

.modal-base header, .modal-advertencia header {
  border-bottom: 1px solid #CDCDD2;
  margin-bottom: 20px;
  padding-bottom: 15px; }

.modal-base h4, .modal-advertencia h4 {
  margin-bottom: 20px; }

.modal-base p, .modal-advertencia p {
  margin-bottom: 40px; }

.modal-advertencia .modal-body {
  padding: 60px 40px 30px; }

.modal-advertencia h4 {
  text-transform: uppercase;
  color: #B85562;
  font-weight: 600; }

/* ============= PRUEBA GENERADA ============= */
.page-content h2 {
  text-transform: none;
  font-weight: 600;
  padding-bottom: 10px;
  border-bottom: 1px solid #CDCDD2;
  margin-bottom: 30px; }
  .page-content h2 em {
    color: #00BCE5;
    font-style: normal; }

.multiselect {
  position: relative; }
  .multiselect .multiselect-field {
    border-radius: 0;
    padding: 10px;
    border: 1px solid #CDCDD2;
    font-size: 14px;
    color: #455A64;
    width: 100%;
    background: url(../img/icon_arrow_down.svg) no-repeat #FDFDFD;
    background-position: calc(100% - 10px) center;
    cursor: pointer;
    font-size: 14px;
    margin-bottom: 10px; }
  .multiselect .options {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
    background-color: white;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }
    .multiselect .options label {
      padding: 10px; }

.tag-list {
  display: flex;
  flex-wrap: wrap;
  margin: -2px; }
  .tag-list .tag {
    margin: 2px;
    display: flex; }
  .tag-list .tag i {
    content: 'close';
    margin-left: 1px;
    font-family: 'Material Icons';
    color: white;
    background-color: #00BCE5;
    display: flex;
    align-items: center;
    padding: 4px;
    font-size: 16px;
    cursor: pointer; }
  .tag-list .tag span {
    padding: 4px 8px;
    color: white;
    background-color: #00BCE5; }

.formas {
  padding-left: 8%; }
  .formas label {
    margin-bottom: 20px; }

.preview-list, .pdf-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  font-size: 12px; }
  .preview-list .preview, .preview-list .pdf, .pdf-list .preview, .pdf-list .pdf {
    text-align: center; }
    .preview-list .preview img, .preview-list .pdf img, .pdf-list .preview img, .pdf-list .pdf img {
      display: block;
      margin: 0 auto;
      margin-bottom: 4px; }
    .preview-list .preview span, .preview-list .pdf span, .pdf-list .preview span, .pdf-list .pdf span {
      display: block;
      font-weight: 700;
      text-transform: uppercase;
      color: #0085C1; }
  .preview-list .preview.disabled, .preview-list .pdf.disabled, .pdf-list .preview.disabled, .pdf-list .pdf.disabled {
    opacity: .3;
    cursor: default; }
    .preview-list .preview.disabled img, .preview-list .pdf.disabled img, .pdf-list .preview.disabled img, .pdf-list .pdf.disabled img {
      filter: grayscale(1); }
    .preview-list .preview.disabled span, .preview-list .pdf.disabled span, .pdf-list .preview.disabled span, .pdf-list .pdf.disabled span {
      color: #5B5B5B; }

.vista-previa p {
  text-align: center;
  color: #ACB6BA;
  margin-bottom: 40px; }

.vista-previa .btn {
  background-color: #A8C952; }

.vista-previa .btn {
  box-shadow: 0 1px 4px 0 rgba(140, 163, 125, 0.44); }

.vista-previa .btn.disabled {
  background-color: #ACB6BA; }

.info-preguntas hgroup {
  margin-bottom: 10px; }
  .info-preguntas hgroup h2 {
    font-size: 48px;
    color: #0085C1;
    font-weight: 100;
    line-height: 40px; }
  .info-preguntas hgroup h4 {
    font-size: 18px;
    color: #0085C1;
    font-weight: 400; }

.info-preguntas span {
  font-size: 14px; }

.info-preguntas h3 {
  font-size: 36px;
  font-weight: 300;
  margin-right: 10px; }

.info-preguntas p {
  font-size: 14px; }

.info-preguntas .total {
  border-top: 1px solid #CDCDD2;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 10px; }

/* ============= PRUEBA LISTA ============= */
.respuestas {
  background-color: #F4F7F7;
  padding: 20px;
  padding-bottom: 30px;
  border-radius: 10px;
  margin-bottom: 40px; }
  .respuestas .grid {
    margin-bottom: 30px; }
  .respuestas .box {
    color: #455A64;
    width: 95px;
    text-align: center;
    opacity: .7; }
    .respuestas .box img {
      width: 60px; }
  .respuestas .box:hover {
    opacity: 1; }
  .respuestas .import {
    border-right: 1px solid #CDCDD2; }
  .respuestas .status {
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .respuestas .status h4 {
      color: #0085C1;
      margin-bottom: 10px; }
      .respuestas .status h4 span {
        vertical-align: middle; }
      .respuestas .status h4 i {
        color: #F4AF3D;
        vertical-align: middle; }
    .respuestas .status p {
      color: #829097;
      margin: 0;
      margin-bottom: 10px; }
    .respuestas .status ul {
      font-size: 16px;
      margin: 0;
      padding: 0; }
      .respuestas .status ul li {
        margin-bottom: 8px; }
      .respuestas .status ul li span {
        vertical-align: middle; }
      .respuestas .status ul li:before {
        content: 'more_horiz';
        font-family: 'Material Icons';
        display: inline;
        vertical-align: middle;
        margin-right: 8px;
        color: #829097; }
      .respuestas .status ul li.check:before {
        color: #A8C952;
        content: 'check'; }
      .respuestas .status ul li.warning:before {
        color: #F4AF3D;
        content: 'warning'; }
      .respuestas .status ul li.error:before {
        color: #B85562;
        content: 'error'; }
  .respuestas .box-warning {
    background: #F5E9BB;
    border-radius: 10px;
    padding: 15px;
    color: #455A64;
    margin: 0 15px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center; }
    .respuestas .box-warning i {
      font-size: 2em;
      margin-right: 10px;
      color: #F4AF3D; }
    .respuestas .box-warning span {
      font-size: 12px; }

.resultados {
  text-align: center; }
  .resultados .box {
    color: #0085C1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap; }
    .resultados .box i {
      padding: 20px;
      border-radius: 50%;
      border: 1px solid #0085C1;
      font-size: 44px;
      background-color: #F4F7F7;
      margin-bottom: 20px;
      box-shadow: inset 0px 0px 0px 2px white; }
    .resultados .box h4 {
      width: 100%;
      text-align: center; }
  .resultados .box:hover {
    color: #00BCE5; }
    .resultados .box:hover i {
      border-color: #00BCE5; }
  .resultados .box.disabled, .resultados .box.disabled:hover {
    color: #ACB6BA; }
    .resultados .box.disabled i, .resultados .box.disabled:hover i {
      border-color: #ACB6BA;
      background-color: #FAFAFB; }
  .resultados p {
    margin-bottom: 40px; }

/* ============= RESPUESTAS DETALLE ============= */
.curso {
  display: grid;
  grid-template-columns: 260px auto;
  border-bottom: 1px solid #CDCDD2; }
  .curso .header {
    height: 70px;
    padding: 10px 25px;
    text-transform: uppercase; }
  .curso .alumnos {
    background: linear-gradient(48deg, #38565F 0%, #2A383E 100%);
    color: white; }
    .curso .alumnos .header {
      display: flex;
      justify-content: center;
      align-items: center;
      border-bottom: 1px solid rgba(0, 0, 0, 0.2); }
    .curso .alumnos h4 {
      opacity: .5; }
  .curso .tab-alumnos-header {
    padding: 0; }
    .curso .tab-alumnos-header li {
      padding: 20px 10px;
      cursor: pointer;
      font-weight: 600;
      position: relative;
      transition: none; }
      .curso .tab-alumnos-header li p {
        margin: 0;
        margin-bottom: 2px; }
      .curso .tab-alumnos-header li p:last-child {
        margin: 0; }
      .curso .tab-alumnos-header li i {
        font-size: 24px;
        color: #F4AF3D; }
    .curso .tab-alumnos-header li.warning {
      display: grid;
      grid-gap: 10px;
      grid-auto-flow: column;
      grid-auto-columns: max-content;
      align-items: center; }
    .curso .tab-alumnos-header li > div {
      z-index: 2;
      position: relative; }
    .curso .tab-alumnos-header li:hover {
      background-color: rgba(0, 0, 0, 0.1); }
    .curso .tab-alumnos-header li.active {
      background-color: #455A64; }
    .curso .tab-alumnos-header li.active:after {
      content: '';
      display: block;
      width: 20px;
      height: 20px;
      background-color: #455A64;
      transform: rotate(45deg);
      position: absolute;
      right: -6px;
      top: calc(50% - 10px);
      z-index: 1; }
  .curso .tab-alumnos-body .tab-container {
    padding: 0; }
  .curso .tab-alumnos-body .alumn-tab:not(.active) {
    display: none; }
  .curso .tab-alumnos-body .alumn-tab .tab.active, .curso .tab-alumnos-body .alumn-tab .tab-container {
    background-color: #F4F7F7; }

.set-respuesta {
  background-color: #EBEBEB; }
  .set-respuesta .header {
    background-color: #EBEBEB; }
  .set-respuesta h5 {
    margin: 0;
    font-size: 14px;
    font-weight: 600;
    opacity: .5;
    text-transform: none; }
  .set-respuesta .lista-respuestas {
    padding: 0; }
    .set-respuesta .lista-respuestas li:nth-child(even) {
      background-color: white; }
    .set-respuesta .lista-respuestas .row-respuesta {
      display: grid;
      grid-gap: 20px;
      padding: 10px 25px;
      align-items: center;
      font-weight: 600;
      grid-template-columns: 48px 1fr auto;
      min-height: 65px; }
      .set-respuesta .lista-respuestas .row-respuesta .num {
        margin: 0;
        width: 30px;
        height: 30px;
        font-size: 14px;
        color: #ACB6BA;
        background-color: transparent;
        cursor: default; }
      .set-respuesta .lista-respuestas .row-respuesta .radio {
        justify-content: center; }
      .set-respuesta .lista-respuestas .row-respuesta .radio input + .selector, .set-respuesta .lista-respuestas .row-respuesta .radio input:checked + .selector {
        background-color: #EBEBEB; }
      .set-respuesta .lista-respuestas .row-respuesta .radio input:checked ~ span {
        color: #0085C1; }
      .set-respuesta .lista-respuestas .row-respuesta .radio input:checked + .selector:after {
        content: 'lens';
        color: #0085C1;
        font-size: 14px; }
      .set-respuesta .lista-respuestas .row-respuesta a {
        text-transform: uppercase; }

.row-pregunta-desarrollo {
  display: grid;
  grid-gap: 10px;
  padding: 20px;
  grid-template-columns: 70px;
  grid-template-rows: auto; }
  .row-pregunta-desarrollo .num {
    grid-row: 1/1;
    grid-column: 1/2;
    background: transparent;
    border: 1px solid #829097;
    color: #829097;
    width: 40px;
    height: 40px;
    font-size: 16px;
    cursor: default; }
  .row-pregunta-desarrollo .top-pregunta {
    grid-row: 1/1;
    grid-column: 2/end;
    display: flex;
    justify-content: space-between; }
    .row-pregunta-desarrollo .top-pregunta span {
      opacity: .7; }
    .row-pregunta-desarrollo .top-pregunta a {
      text-transform: uppercase;
      font-weight: 600; }
  .row-pregunta-desarrollo .fila-rubrica {
    grid-column: 2/end;
    border-bottom: 1px solid #CDCDD2;
    padding-bottom: 10px;
    margin-bottom: 10px;
    display: grid;
    grid-gap: 10px;
    grid-auto-flow: column;
    justify-content: space-between; }
  .row-pregunta-desarrollo .fila-rubrica:last-child {
    border: 0;
    margin-bottom: 0; }
  .row-pregunta-desarrollo .rubrica h4 {
    margin-bottom: 10px; }
  .row-pregunta-desarrollo .rubrica p {
    margin: 0; }
  .row-pregunta-desarrollo .puntaje-unico {
    display: flex;
    align-items: center;
    justify-content: center; }
    .row-pregunta-desarrollo .puntaje-unico input:not([type="checkbox"]):not([type="radio"]) {
      margin-right: 10px;
      width: 40px;
      text-align: center; }

/* ============= PRUEBA TIPO PAUTA ============= */
.pautas .row {
  display: grid;
  grid-gap: 4px;
  grid-auto-flow: column;
  grid-template-columns: repeat(18, 1fr);
  margin-bottom: 4px;
  background: #FAFAFB;
  align-items: center;
  justify-content: center;
  height: 56px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.19), 0 0 4px 0 rgba(0, 0, 0, 0.07); }
  .pautas .row .num, .pautas .row .r1 {
    grid-column: 1/2; }
  .pautas .row .choises, .pautas .row .r2 {
    grid-column: 2/7; }
  .pautas .row .rubrica, .pautas .row .r3 {
    grid-column: 7/11; }
  .pautas .row .unidad, .pautas .row .r4 {
    grid-column: 11/15; }
  .pautas .row .number, .pautas .row .r5 {
    grid-column: 15/18; }
  .pautas .row .icon, .pautas .row .r6 {
    grid-column: 18; }
  .pautas .row .num {
    width: auto;
    height: auto;
    margin: 0;
    border-radius: 0;
    background-color: #EBEBEB;
    font-size: 14px;
    align-self: stretch; }
  .pautas .row .choises {
    grid-gap: 0; }
    .pautas .row .choises .checkbox .selector, .pautas .row .choises .radio .selector {
      margin-right: 2px; }
    .pautas .row .choises .checkbox input:checked + .selector, .pautas .row .choises .radio input:checked + .selector {
      background-color: #CDCDD2;
      display: flex;
      justify-content: center;
      align-items: center; }
    .pautas .row .choises .checkbox input:checked + .selector:after, .pautas .row .choises .radio input:checked + .selector:after {
      content: '';
      background-color: #0085C1;
      width: 12px;
      height: 12px;
      border-radius: 50%; }
  .pautas .row .number {
    margin: 0;
    justify-content: center; }
    .pautas .row .number input {
      min-width: 32px;
      width: 100%;
      max-width: 42px; }
  .pautas .row select {
    min-width: 0; }
  .pautas .row .icon {
    text-align: center;
    line-height: 0; }
    .pautas .row .icon button {
      padding: 0;
      font-size: 24px;
      color: #ACB6BA;
      line-height: 0;
      background-color: transparent; }
    .pautas .row .icon button:hover {
      color: #B85562;
      text-shadow: 0 1px 2px rgba(0, 0, 0, 0.19), 0 0 4px rgba(0, 0, 0, 0.07); }

.pautas .row.header {
  background-color: transparent;
  box-shadow: none;
  height: auto; }
  .pautas .row.header > * {
    padding: 4px;
    color: white;
    background-color: #455A64;
    text-align: center;
    border-radius: 4px; }

.card > header {
  margin-bottom: 20px;
  font-weight: 600;
  border-bottom: 1px solid #CDCDD2;
  padding-bottom: 20px; }

/*# sourceMappingURL=styles.css.map */